<div class="navbar bg-light">
  <div class="container-fluid">
    <div class="navbar-brand light">
      <div class="d-flex align-items-center justify-content-center">
        <a href="/">
          <img src="/img/mongodb-icon.png"  width="30" height="30" class="d-inline-block align-text-top" alt="icon">
          <span class="nav-title">Hello-Mongo</span>
        </a>
      </div>
    </div>
  </div>
</div>