:root{
  --green: #4DB33D;
  --white: #FFF;
}

body{
  background-image: url("/img/background-min.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

a{
  text-decoration: none;
}

i{
  width: 1rem;
}

thead{
  border-bottom: 2px solid #4DB33D; 
}

.nav-title{
  color: #4DB33D;
  font-weight: 600;
}

.card-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title a{
  width: 20%;
}

.text-top h3{
  font-size: 0.8rem;
  text-align: center;
  color: #797979;

  font-weight: 400;
}

.action{
  display: flex;
  padding: 0.5rem;
}

.action a{
  margin-right: 1rem;
}

.info{
  color: #4DB33D;
  margin-left: 0.5rem;
}

.page-item > a{
  color: var(--green) !important;
}

.page-link:focus,.page-link:active {
  box-shadow: none !important;
}

.active > a{
  color: var(--white) !important;
  background-color: var(--green) !important;
  border: 1px solid var(--green) !important;
}